
	body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-image: url("../images/circles-light.png");	
	background-repeat: repeat;
	font-size: 18px;  
  	color: #777;
  	min-height: 100%;


	}


	.navCustom {				
		background-color: white;
		border-bottom: 2px solid #ccc;		
		/*overflow: auto;*/
		padding-bottom: 0px;
	}
	nav {
		/*position: fixed;*/		
		width: 100%;
		color: #fff;
		background: #fff;
		border-bottom: 2px solid #ccc;


	}

	.mainSection {
		float: left;		
		max-width: 650px;
		padding: 30px;
		margin: 0 0 40px;
		background: #fff;
		border: 1px solid #ddd;
		width: 100%;
	}

	.sidebar {				
		margin-bottom: 30px;
		background: #fff;
		border: 1px solid #ddd;
		padding: 30px;
	}

	.footer {
		clear: both;
		/*padding: 30px 0;  */  
    	font-size: 12px;
    	color: #fff;
    	color: #ccc;    	
    	background: #666;
    	border-top: 8px solid #4aaaa5;
    	overflow: auto;
    	position: relative;    	
    	bottom:0;
    	display: block;

	}
	.titleHeader {
		border-bottom: 2px solid #cccccc;
		color: #4aaaa5;
	}
	h2 {
		font-size:  22px;
		color: #4aaaa5;
	}
	h1 {
		font-size: 30px;
		color: #4aaaa5;
	}

	img.profile {
		float: left;
		margin-right:  25px;
	}
	

	.mainContainer {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		clear: both;
	}
	.logo {
		width: 250px;
		height: 90px;
		font-family: Georgia, Times, "Times New Roman", serif;
		font-size: 25px;
		font-weight: 700;
		line-height: 90px;
		color: #fff !important;
		text-align: center;
		text-decoration: none;
		background: #4aaaa5;
  	}

	.portImg {
		float: left;
		position: relative;
		padding: 25px;
		cursor: pointer;
	}
	.portHeader {
		position: absolute;
		text-align: center;		
		width: 200px;
		bottom: 36px;
		background: #4aaaa5;
		color: #fff;    
	}

	h1.nameHeader {
		color: #fff;
		width: 100%;

	}

	.customBtn {

	  color: #fff;
	  cursor: pointer;
	  background: #4aaaa5; 
	}

	a {
		color: grey;
	}

	a:hover  { 
	    color: grey;
	    font-weight: 500;
	}
	.navlink {
		color: grey !important;
	}
	
/*	.main {
		height: 100vh;
	}*/


	@media screen and (max-width: 64em) and (min-width: 42em) {
		.footer {
			display: block;
			position: relative;
		}

	}
